.o_action_manager {
    overflow: auto !important;
}

.oh_dashboards {
    padding: 15px;
    background-color: #f8faff !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emp_graph {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.emp_bar {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

table.legend {
    margin-left: 30px;
}

.oh-ribbon {
    margin-top: 30px;
}